body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Targetkan default left arrow */
.slick-prev {
  color: black !important;  /* Ubah warna arrow kiri menjadi hitam */
}

/* Targetkan default right arrow */
.slick-next {
  color: black !important;  /* Ubah warna arrow kanan menjadi hitam */
}

/* Jika ingin panah menjadi lebih besar atau berbeda desain */
.slick-prev, .slick-next {
  font-size: 24px;  /* Ubah ukuran font jika perlu */
}

